html, body{
  margin: 0px;
}

li{
    display:inline-block;
    margin-left:5px;
    margin-right: 5px;
}

ul{
    background-color: black;
    margin-left: 0px;
    padding: 10px 0px 10px 0px;
}

a{
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    text-decoration: none;
}

li:hover{
    background-color: gray;
}

#contentBox{
    padding: 5px 5px 5px 5px;
}

#loginLink{
  float: left;
}
